AZURE_SEARCH_ENDPOINT=https://searchservice.search.windows.net
AZURE_SEARCH_ADMIN_KEY=
AZURE_SEARCH_INDEX_NAME=index
AZURE_SEARCH_DATASOURCE_NAME=datasource
AZURE_SEARCH_SKILLSET_NAME=skillset
AZURE_SEARCH_INDEXER_NAME=indexer
AZURE_SEARCH_KNOWLEDGE_SOURCE_NAME=knowledge-source
AZURE_SEARCH_KNOWLEDGE_BASE_NAME=knowledge-base

AZURE_OPENAI_ENDPOINT=https://some-resource.openai.azure.com/openai/v1
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4.1-mini
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-ada-002
AZURE_OPENAI_EMBEDDING_MODEL=text-embedding-ada-002
AZURE_OPENAI_API_KEY=

AZURE_STORAGE_ACCOUNT_NAME=storage
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_CONTAINER_NAME=blob-container

LOCAL_STORAGE=input_data/local_storage
RUN_INGESTION=TRUE